/dist
/build
/BAC0/core/__pycache__
/BAC0/core/app/__pycache__
/BAC0/core/functions/__pycache__
/BAC0/core/io/__pycache__
/BAC0.egg-info
/src
/BAC0/scripts/__pycache__
/BAC0/__pycache__
/BAC0Script.egg-info
/doc
/.coverage
/doc/build
/__pycache__
/.cache
/.coveragerc
/.pylintrc
__pycache__
/BAC0/core/devices/mixins/__pycache__
/BAC0/sql/__pycache__
/BAC0/.coverage
/Jupyter/BACPypes.ipynb
/tests/__pycache__
/tests/need_rebuild_Device.py
/tests/.coverage
/pylintrc
/.pytest_cache
/tests/archive
/BAC0/web/test
/venv/
obj300.db
BAC0.bin
BAC0.db
obj30.bin
obj30.db
obj300.bin
/.vscode
