/dist
/build
/BAC0/core/__pycache__
/BAC0/core/app/__pycache__
/BAC0/core/functions/__pycache__
/BAC0/core/io/__pycache__
/BAC0.egg-info
/src
/BAC0/scripts/__pycache__
/BAC0/__pycache__
/BAC0Script.egg-info
/doc
